<footer class="mdc-typography--subtitle2">
  <p>&copy; {{ site.time | date: '%Y' }} Liri. All trademarks and registered trademarks are the property of their respective owners.</p>
  <ul>
    <li><a href="https://liri.io/community/code-of-conduct" target="_self">Code of Conduct</a></li>
    <li><a href="https://liri.io/community/governance-model" target="_self">Governance Model</a></li>
    <!-- <li><a href="https://liri.io/privacy" target="_self">Privacy</a></li> -->
    <li><a href="https://liri.io/team" target="_self">Team</a></li>
    <!-- <li><a href="https://liri.io/open-source" target="_self">Open Source</a></li> -->
  </ul>
</footer>
