<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <span class="mdc-top-app-bar__title"><a href="{{ site.url }}">{{ site.title }}</a></span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="RSS Feed"
         title="RSS Feed" href="{{ site.baseurl }}/feed.xml">rss_feed</a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Chat" target="_blank" rel="noopener"
         title="Chat" href="https://riot.im/app/#/room/#liri:matrix.org"><span class="mdc-icon-button__icon mdi mdi-chat"></span></a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Facebook" target="_blank" rel="noopener"
         title="Facebook" href="https://www.facebook.com/Liri-935614733238741"><span class="mdc-icon-button__icon mdi mdi-facebook"></span></a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Twitter" target="_blank" rel="noopener"
         title="Twitter" href="https://twitter.com/liridev"><span class="mdc-icon-button__icon mdi mdi-twitter"></span></a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Mastodon" target="_blank" rel="noopener"
         title="Mastodon" href="https://mastodon.cloud/@liri"><span class="mdc-icon-button__icon mdi mdi-mastodon"></span></a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Reddit" target="_blank" rel="noopener"
         title="Reddit" href="https://www.reddit.com/r/liri"><span class="mdc-icon-button__icon mdi mdi-reddit"></span></a>
      <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Medium" target="_blank" rel="noopener"
         title="Medium" href="https://www.medium.com/liridev"><span class="mdc-icon-button__icon mdi mdi-medium"></span></a>
    </section>
  </div>
</header>
