.byline {
    margin-left: 1em; // align with tags

    .avatar {
        border: none;
        border-radius: 50%;
        color: transparent;
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 0.5em;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
    }

    .name {
        opacity: 0.8;
    }

    .description {
        color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.67));

        &::before {
            content: " | ";
        }
    }

    .read-time {
        color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.8));
    }

    .read-time::before {
        display: inline-block;
        margin: 0 0.25em;
        content: " · ";
    }
}
