nav.pagination {
    font-size: 0; // Fix percentage issues with whitespace
    margin: 2rem auto;
    text-align: center;

    a {
        display: inline-block;
        font-size: 1rem;
        font-family: var(--ui-font);
        padding: 1em;

        &.next::after {
            content: " →";
        }

        &.previous::before {
            content: "← ";
        }
    }
}