// Mobile
@media (max-width: 1023px) {
    .social {
        .share {
            width: 100%;
            z-index: 1;
        }
    }
}

// Desktop
@media (min-width: 1024px) {
    .social {
        position: relative;

        .share {
            left: var(--mdc-layout-grid-column-width-desktop);
            margin: 0 auto;
            position: absolute;
            width: 100%;
            z-index: 1;
    
            nav {
                margin-left: auto;
                width: 30px;
            }
        }
    }
}
